NEXT_PUBLIC_INSFORGE_BASE_URL=
NEXT_PUBLIC_INSFORGE_ANON_KEY=
INSFORGE_PROJECT_API_KEY=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_INSFORGE_TEMPLATE=insforge
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

#NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=https://yolande-sistroid-jenee.ngrok-free.dev

CHANNEL_OAUTH_STATE_SECRET=
CHANNEL_TOKEN_ENCRYPTION_KEY=

INNGEST_DEV=1

# Twitter
TWITTER_CLIENT_ID=
TWITTER_AUTH_URL=https://x.com/i/oauth2/authorize
TWITTER_TOKEN_URL=https://api.x.com/2/oauth2/token
TWITTER_PROFILE_URL=https://api.x.com/2/users/me?user.fields=profile_image_url,username
TWITTER_SCOPES=tweet.read,users.read,tweet.write,offline.access,media.write

# Instagram
INSTAGRAM_CLIENT_ID=999488465808060
INSTAGRAM_CLIENT_SECRET=6c9c05ec8dc9d06469ab59b5ac82e885
INSTAGRAM_AUTH_URL=https://www.facebook.com/v23.0/dialog/oauth
INSTAGRAM_TOKEN_URL=https://graph.facebook.com/v23.0/oauth/access_token
INSTAGRAM_PROFILE_URL=https://graph.instagram.com/me?fields=id,username

INSTAGRAM_SCOPES=instagram_basic,instagram_content_publishing,pages_show_list,pages_read_engagement,business_management

# Facebook
FACEBOOK_CLIENT_ID=<YOUR_META_APP_ID>
FACEBOOK_CLIENT_SECRET=<YOUR_META_APP_SECRET>

FACEBOOK_AUTH_URL=https://www.facebook.com/v23.0/dialog/oauth
FACEBOOK_TOKEN_URL=https://graph.facebook.com/v23.0/oauth/access_token
FACEBOOK_PROFILE_URL=https://graph.facebook.com/me?fields=id,name,picture

FACEBOOK_SCOPES=pages_show_list,pages_read_engagement,pages_manage_posts,business_management

# Threads
THREADS_CLIENT_ID=3553667441475655
THREADS_CLIENT_SECRET=46c88aaf7bd4fff1f6388b2e2034dc34

THREADS_AUTH_URL=https://threads.net/oauth/authorize
THREADS_TOKEN_URL=https://graph.facebook.com/oauth/access_token
THREADS_PROFILE_URL=https://graph.threads.net/v1.0/me

THREADS_SCOPES=threads_basic,threads_content_publish

# *****************
# 🧾 Purchase a commercial license to get the full, complete .env file
# *****************
